
[database_configuration]
dbname = postgres
user= postgres
password= password
host= localhost
port= 5432


[export_config]
GITHUB_TOKEN =
GITHUB_API_URL = https://api.github.com/repos/keerthy-revuri/Leetcode_SQL_Project/contents
sql_file_path = C:/Users/keert/Projects/Data_Engineering_Projects/Github_data_to_excel/load_script.sql
file_name = 'output.csv'