[database_configuration]
dbname = postgres
user= postgres
password= password
host= localhost
port= 5432


[export_config]
url = https://www.predictit.org/api/marketdata/all/
sql_file_path = C:/Users/keert/Data_Engineering_Projects/Predictit_ETL/load_script.sql
raw_path_directory = C:/Users/keert/Data_Engineering_Projects/Predictit_ETL/raw_files
raw_file_path = C:/Users/keert/Data_Engineering_Projects/Predictit_ETL/raw_files/raw_json_data.json
file_name = 'output.csv'

